<!doctype html>
<head>
    <title>Montreal Accidents</title>
    {% load static %}
    <script src="{% static 'boards/js/threebox.js' %}" type="text/javascript"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />
    <link href="{% static 'boards/css/styles.css' %}" rel='stylesheet' />
</head>
<body>
    <div id='map' class='map'></div>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoicm9iZXJ0cSIsImEiOiJjanJhMnpuZDAwbzZ2NDRzN3R3bDJrYXIyIn0.r7vrbI2RSHKHpZDN65aNig';
        var listOrigins = {{ allLocations }};

        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/dark-v9',
            // maxBounds : [[-73.97506713867188, 45.71289203225705], [-73.41201782226562, 45.35600542155864]],
            // dragPan : false,
            // pitchRotate : false,
            center: [-73.73611450195312 ,45.537136680398625],
            zoom: 10,
            minZoon : 10,
            maxZoom : 0,
            pitch : 60
        });

        map.on('style.load', function() {

            var cubeArray = [];

            map.addLayer({
                id: 'custom_layer',
                type: 'custom',
                onAdd: function(map, mbxContext){
                    listOrigins.forEach(function(origin){
                        window.threebox = new Threebox(map, mbxContext);
                        threebox.setupDefaultLights();
                        // initialize geometry and material of our cube object
                        var geometry = new THREE.BoxGeometry(450, 450, 450);
                        var redMaterial = new THREE.MeshPhongMaterial( {
                            color: 0x660000,
                            side: THREE.DoubleSide
                        });
                        cubeArray.push(new THREE.Mesh(geometry, redMaterial));
                    });

                    for (var i = 0; i < cubeArray.length; i++) {
                        threebox.addAtCoordinate(cubeArray[i], listOrigins[i]);
                    }
                },
                
                render: function(gl, matrix) {
                    threebox.update(false);
                }
                
            });
        });
    </script>
</body>